
@{
    ViewBag.Title = "CreateClass";
}

<h2>CreateClass</h2>
<body>
    <form method="post" action="">
        <table>
            <tr>
                <td><p>Номер класса (например 8 А):</p></td>
                <td><input type="text" name="Name" /></td>
            </tr>
            <tr>
                <td><p>Классный руководитель:</p></td>
                <td><input type="text" name="ClassTeacher" /></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Отправить" />
                </td>
                <td></td>
            </tr>

        </table>
    </form>

</body>

